@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --font-app:"Poppins", sans-serif;
  --background-body:#fffdfd;
  --background-form:#ffffff;
}
body{
  background: var(--background-body);
  font-family: var(--font-app);
  font-weight: 400;
  display: block;
  padding: 2em;
}
button,input{
  border: none;
  outline: none;
  font-family: var(--font-app);
}
.card__form{
  width:auto;
  max-width:500px;
  background: var(--background-form);
  box-shadow: rgba(113, 113, 130, 0.2) 0px 7px 29px 0px;
  margin:  auto;
  padding: 1.5em 1.1em;
  border-radius: 0.5em;
}
.card__form .title__section{
  margin: 1.6em 0em;
  text-align: center;
  display: block;
}
.card__form .title__section .title{
  font-size: 1.2em;
  font-weight: 500;
  font-family: var(--font-app);
  text-transform: uppercase;
}